{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.title_tag }} {% endblock %}



{% block content %}

<h1>{{ post.title }} - {{ post.author.id }} </h1>

    <small>{{ post.author }} -
        {{ post.post_date }}

        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}

            <a href="{% url 'update_post' post.pk %}">(edit)</a>

            <a href="{% url 'delete_post' post.pk %}">(delete)</a>

            {% endif %}
        {% endif %}

    </small>
        <br/><hr/><br/>
        {% if post.header_image %}
            <img src="{{ post.header_image.url }}" class="img-thumbnail"/>
        {% endif %}
        <br/><br/>

        {{ post.body|safe}}

        <br/>
<a href="{% url 'home' %}"  class="btn btn-secondary">Back</a><br/>

<br/><br/>
<hr/>
<br/>

<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}

    {% if user.is_authenticated %}

        {% if liked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
        {% else %}
             <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
        {% endif %}

    {% else %}
        <small><a href="{% url 'login' %}">Login</a> to like</small>
    {% endif %}
        - {{ total_likes }} Likes

</form>

    <br/><br/>

    <h2>Comments...</h2>
    {% if not post.comments.all %}
        No comments yet...
        <a href="{% url 'add_comment' post.pk %}">Add One</a>
    {% else %}
        <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
        <br/><br/>

        {% for comment in  post.comments.all %}
            <strong>
                {{ comment.name }}
                {{ comment.date_added }}
            </strong>
            <br/>
                {{comment.body}}
            <br/>
        {% endfor %}
        <br/>
            <a href="{% url 'add_comment' post.pk %}">Add Comment</a>
        <br/>
    {% endif %}
    <hr/>


    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-2">
            {% if post.author.profile.profile_image %}
                <img src="{{ post.author.profile.profile_image.url }}" alt="..." height="200" width="200">
            {% else %}
                <img src="{% static 'mysimpleblog/images/default_profile_image.jpg' %}" alt="..." height="200" width="200">
            {% endif %}
        </div>
        <div class="col-md-10">
          <div class="card-body">
              <p class="small text-muted">

                  <a href="{% url 'show_profile_page' post.author.profile.id %}">Profile Page</a> |

                  {% if post.author.profile.website_url %}
                     <a href="{{ post.author.profile.website_url }}">Website |</a>
                  {% endif %}
                  {% if post.author.profile.facebook_url %}
                     <a href="{{ post.author.profile.facebook_url }}">Facebook |</a>
                  {% endif %}
                  {% if post.author.profile.instagram_url %}
                     <a href="{{ post.author.profile.instagram_url }}">Instagram |</a>
                  {% endif %}
                  {% if post.author.profile.twitter_url %}
                     <a href="{{ post.author.profile.twitter_url }}">Twitter |</a>
                  {% endif %}
                  {% if post.author.profile.pinterest_url %}
                     <a href="{{ post.author.profile.pinterest_url }}">Pinterest</a>
                  {% endif %}
              </p>
            <h5 class="card-title">{{ post.author }}</h5>
            <p class="card-text">{{ post.author.profile.bio }}</p>
          </div>
        </div>
      </div>
    </div>


{% endblock %}

